@page "/adminpanel"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager

    <div class="container m-0 p-0 ">
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("books"))">Books</button>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("genres"))">Genres</button>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("authors"))">Authors</button>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("publishers"))">Publishers</button>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("rewievs"))">Reviews</button>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("transactions"))">Transactions</button>
    </div>
    @switch (@CurrentComponent)
    {
    case "books":
            <Books/>
        break;
    case "genres":
            <Genres/>
        break;
    case "authors":
            <Authors />
        break;
    case "publishers":
        <Publishers />
        break;
    case "rewievs":
        <Reviews />
        break;
    case "transactions":
        <Transactions />
        break;
    default: break;
    }
   

@code {
    public string CurrentComponent {get;set;} = "books";
    public void SwitchComponent(string component)
    {
        CurrentComponent = component;
    }
}
